body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(210, 210, 210);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  color: rgb(30, 84, 105);
  text-align: center;
}

.container {
  margin: auto;
  width: 700px;
  padding: 5px 0px;
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
}

.main {
  margin: 30px 210px;
}


.submit {
  margin-left: 10px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid rgb(210, 210, 210);  
  color: rgb(160, 212, 255);
  background-color: rgb(76, 157, 219);
}

.submit:hover {
  cursor: pointer;
  background-color: rgb(18, 106, 173);
}

.main-input {
  background-color: rgb(228, 243, 255);
  border-radius: 3px;
  border: 2px solid rgb(210, 210, 210);  
  width: 200px;
  height: 20px;
}

.todos {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 10px;
}

.deleteButton {
  color: red;
  background-color: transparent;
  border: 0;
  padding-top: 3px;
  padding-right: 5px;
  border-radius: 5px;
}
.deleteButton:hover {
  cursor: pointer;
}

.completed {
  background-color: rgb(255, 140, 140);
  text-decoration:line-through;
}
